nav.side-navbar .title {
    word-wrap: break-word;
    width: 100%;
}

.field-validation-valid, .field-validation-error {
    color: red;
    font-size: 12px;
}

a:focus, a:hover {
    color: #6a6868 !important;
}

.number-spinner a {
    color: #6a6868 !important;
}

input[type="file"].form-control {
    padding: 3px;
}

.m-l-10 {
    margin-left: 10px;
}

.gizle {
    display: none;
}

.m-t-50 {
    margin-top: 50px;
}

.anasayfaLink {
    /*border: 1px solid;*/
    padding: 5px;
}

    .anasayfaLink i {
        position: relative;
        top: -1px;
    }

.yetkiChcBaslik {
    color: green;
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 10px;
}

.yetkiChcIcerik {
    padding-left: 20px;
}

.g-recaptcha {
    display: inline-block;
}

input.input-material {
    background: transparent !important;
}

.soruStyle {
    text-align: left;
    font-weight: bold;
    margin-top: 25px;
}

.cevapStyle {
    margin-top: 5px;
}

.icTablo {
    border: 1px solid #ccc;
    padding: 25px;
}

.birinciSatir {
    width: 150px !important;
}

.ikinciSatir {
    width: 50px !important;
}

.tekSatir {
    display: inline-block;
    margin-left: 20px;
    padding: 5px;
}

    .tekSatir .checkbox-template + label, .tekSatir .radio-template + label {
        margin-left: 5px;
    }

.input-group-addon {
    position: relative;
    border-collapse: separate;
    padding: 9px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 9%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell
}

    .input-group-addon i {
        display: inline-block;
        cursor: pointer;
        height: 16px;
        vertical-align: text-top;
        width: 16px;
    }

.fullSize {
    width: 100%;
    height: 100%;
}

.fileStyle {
    height: 60px;
    padding-top: 13px;
}

.detayliAramaLabel {
    width: 140px;
}

.detayliAramaFiltre {
    width: calc(100% - 350px);
    display: inline-block;
}

.colFiltre {
    display: none;
}

.tabloBaslik {
    color: #496792;
    font-weight: 700;
    text-align: right;
    min-width: 70px;
    vertical-align: top;
}

.tabloIcerik {
    padding-left: 10px;
}

.tabloUyeBilgi {
    color: red;
    padding-left: 10px;
}

.mesajAtanKonuIcerik {
    background-color: #fffdeb;
    border: 1px solid #CCC;
    padding: 10px 0;
}

.bold {
    font-weight: bold !important;
}

.durumDegistirButonDiv {
    text-align: center;
    padding: 15px;
}

.mhCevapVer .card, .mhCevapVer .card .card-header {
    background-color: #deddd9;
    border-bottom: 1px solid #999595;
}

    .mhCevapVer .card .input-group-text {
    }

#tbKampanyaBilgileri {
    width: 100%
}

    #tbKampanyaBilgileri tr {
        height: 35px;
    }

    #tbKampanyaBilgileri th {
        text-align: center;
        border: 1px solid #CCC;
    }

    #tbKampanyaBilgileri td {
        width: 100%;
    }

        #tbKampanyaBilgileri td:first-child {
            width: 15%;
            font-weight: bold;
        }

#tablom {
    margin-top: 40px;
}

    #tablom td {
        vertical-align: middle;
        text-align: center;
    }

    #tablom .colSira {
        width: 20px;
    }

    #tablom .colBilgi {
        width: 200px;
    }

    #tablom .colLink {
        width: 200px;
    }

    #tablom .colMasa {
        width: 200px;
    }

    #tablom .colMobil {
        width: 200px;
    }

    #tablom .colSil {
        width: 20px;
    }

.Editor-container {
    margin-top: 0 !important;
}

    .Editor-container a {
        color: black;
    }

.number-spinner-div {
    width: calc(100% - 225px);
}
