USE [AlgoTradeOttDb]
GO
/****** Object:  Table [dbo].[AvciSonuclari]    Script Date: 27.07.2022 16:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvciSonuclari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sembol] [nvarchar](50) NOT NULL,
	[Periyot] [nvarchar](50) NOT NULL,
	[Sermaye] [decimal](12, 8) NULL,
	[Kar] [decimal](12, 8) NULL,
	[KarOran] [decimal](12, 2) NULL,
	[BarSayisi] [int] NULL,
	[IslemSayisi] [int] NULL,
	[SonDurum] [nvarchar](50) NULL,
	[AlBarAcilisTarihi] [datetime] NULL,
	[GecenBarSayisi] [int] NULL,
	[AlSinyalFiyat] [decimal](12, 8) NULL,
	[MevcutFiyat] [decimal](12, 8) NULL,
	[AlVeMevcutFarkOran] [decimal](12, 2) NULL,
	[IslemTipi] [int] NOT NULL,
	[Parametreler] [nvarchar](max) NOT NULL,
	[IslemZamani] [datetime] NULL,
 CONSTRAINT [PK_TarayiciSonuclari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AyarlarTablosu]    Script Date: 27.07.2022 16:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AyarlarTablosu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BinanceApiKey] [nvarchar](500) NULL,
	[BinanceApiSecret] [nvarchar](500) NULL,
	[EmirBoyutuUSDT] [decimal](12, 2) NOT NULL,
	[HaricSemboller] [nvarchar](max) NULL,
	[IslemPeriyot] [nvarchar](50) NOT NULL,
	[BacktestBarSayisi] [int] NOT NULL,
	[BacktestEsikKarOrani] [int] NOT NULL,
	[KarAlOran] [decimal](12, 2) NOT NULL,
	[TakipEdenDurdurOran] [decimal](12, 2) NOT NULL,
	[TelegramApiToken] [nvarchar](500) NOT NULL,
	[TelegramLogChannel] [nvarchar](50) NOT NULL,
	[TelegramIslemChannel] [nvarchar](50) NOT NULL,
	[IslemTipi] [int] NOT NULL,
	[IslemPeriyotAralik] [nvarchar](50) NULL,
 CONSTRAINT [PK_AyarlarTablosu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FiyatKontrolTablosu]    Script Date: 27.07.2022 16:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiyatKontrolTablosu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IslemID] [int] NULL,
	[KontrolTarihi] [datetime] NULL,
	[KontrolFiyat] [decimal](20, 8) NULL,
	[KarOrani] [decimal](12, 2) NULL,
	[IslemZamani] [datetime] NULL,
 CONSTRAINT [PK_FiyatKontrolTablosu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IslemTablosu]    Script Date: 27.07.2022 16:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IslemTablosu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sembol] [nvarchar](50) NOT NULL,
	[Periyot] [nvarchar](50) NOT NULL,
	[GirisTarihi] [datetime] NOT NULL,
	[GirisBarAcilisTarihi] [datetime] NOT NULL,
	[EmirBoyutu] [decimal](20, 8) NOT NULL,
	[CoinAdeti] [decimal](20, 8) NOT NULL,
	[GirisFiyat] [decimal](20, 8) NOT NULL,
	[GirisPariteKarsiligi] [decimal](20, 8) NOT NULL,
	[KontrolTarihi] [datetime] NOT NULL,
	[KontrolFiyat] [decimal](20, 8) NOT NULL,
	[KontrolPariteKarsiligi] [decimal](20, 8) NOT NULL,
	[KarPariteKarsiligi] [decimal](20, 8) NOT NULL,
	[KarOrani] [decimal](12, 2) NOT NULL,
	[IslemKapandiMi] [bit] NOT NULL,
	[PikFiyat] [decimal](20, 8) NULL,
	[PikOrani] [decimal](12, 2) NULL,
	[PikTarihi] [datetime] NULL,
	[KapanmaSebebi] [nvarchar](50) NULL,
	[IslemTipi] [int] NOT NULL,
	[Parametreler] [nvarchar](max) NOT NULL,
	[IslemZamani] [datetime] NULL,
 CONSTRAINT [PK_IslemTablosu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RehberTablo]    Script Date: 27.07.2022 16:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RehberTablo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sembol] [nvarchar](50) NULL,
	[Periyot] [nvarchar](50) NULL,
	[Parametreler] [nvarchar](max) NULL,
	[NetKar] [decimal](12, 2) NULL,
	[BurutKar] [decimal](12, 2) NULL,
	[BurutZarar] [decimal](12, 2) NULL,
	[ProfitFactor] [decimal](12, 2) NULL,
	[BarSayisi] [int] NULL,
	[IslemSayisi] [int] NULL,
	[BasariliIslemSayisi] [int] NULL,
	[KarAlSayisi] [int] NULL,
	[TakipEdenDurdurSayisi] [int] NULL,
	[ZararDurdurSayisi] [int] NULL,
	[StratejiSatSayisi] [int] NULL,
	[IslemZamani] [datetime] NULL,
 CONSTRAINT [PK_TarayiciStratejisiRehberTablosu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StratejiParametreleri]    Script Date: 27.07.2022 16:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StratejiParametreleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParametreAdi] [nvarchar](50) NULL,
	[AltDeger] [decimal](12, 2) NULL,
	[UstDeger] [decimal](12, 2) NULL,
	[Adim] [decimal](12, 2) NULL,
 CONSTRAINT [PK_TarayiciStratejiParametreleri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StratejiyeTakilanlar]    Script Date: 27.07.2022 16:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StratejiyeTakilanlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sembol] [nvarchar](50) NULL,
	[Periyot] [nvarchar](50) NULL,
	[Parametreler] [nvarchar](50) NULL,
	[GecenBarSayisi] [int] NULL,
	[AlSinyalFiyat] [decimal](20, 8) NULL,
	[MevcutFiyat] [decimal](20, 8) NULL,
	[Sebep] [nvarchar](250) NULL,
	[IslemZamani] [datetime] NULL,
 CONSTRAINT [PK_StratejiyeTakilanlar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[temp_AvciSonuclari]    Script Date: 27.07.2022 16:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_AvciSonuclari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sembol] [nvarchar](50) NOT NULL,
	[Periyot] [nvarchar](50) NOT NULL,
	[Sermaye] [decimal](12, 8) NULL,
	[Kar] [decimal](12, 8) NULL,
	[KarOran] [decimal](12, 2) NULL,
	[BarSayisi] [int] NULL,
	[IslemSayisi] [int] NULL,
	[SonDurum] [nvarchar](50) NULL,
	[AlBarAcilisTarihi] [datetime] NULL,
	[GecenBarSayisi] [int] NULL,
	[AlSinyalFiyat] [decimal](12, 8) NULL,
	[MevcutFiyat] [decimal](12, 8) NULL,
	[AlVeMevcutFarkOran] [decimal](12, 2) NULL,
	[IslemTipi] [int] NOT NULL,
	[Parametreler] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_temp_TarayiciSonuclari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[temp_RehberTablo]    Script Date: 27.07.2022 16:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_RehberTablo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sembol] [nvarchar](50) NULL,
	[Periyot] [nvarchar](50) NULL,
	[Parametreler] [nvarchar](max) NULL,
	[NetKar] [decimal](12, 2) NULL,
	[BurutKar] [decimal](12, 2) NULL,
	[BurutZarar] [decimal](12, 2) NULL,
	[ProfitFactor] [decimal](12, 2) NULL,
	[BarSayisi] [int] NULL,
	[IslemSayisi] [int] NULL,
	[BasariliIslemSayisi] [int] NULL,
	[KarAlSayisi] [int] NULL,
	[TakipEdenDurdurSayisi] [int] NULL,
	[ZararDurdurSayisi] [int] NULL,
	[StratejiSatSayisi] [int] NULL,
 CONSTRAINT [PK_temp_RehberTablo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AyarlarTablosu] ON 

SET IDENTITY_INSERT [dbo].[AyarlarTablosu] OFF
GO
SET IDENTITY_INSERT [dbo].[RehberTablo] ON 

INSERT [dbo].[RehberTablo] ([Id], [Sembol], [Periyot], [Parametreler], [NetKar], [BurutKar], [BurutZarar], [ProfitFactor], [BarSayisi], [IslemSayisi], [BasariliIslemSayisi], [KarAlSayisi], [TakipEdenDurdurSayisi], [ZararDurdurSayisi], [StratejiSatSayisi], [IslemZamani]) VALUES (1098, N'ACMUSDT', N'1h', N'13,00|1,00', CAST(109.73 AS Decimal(12, 2)), CAST(119.22 AS Decimal(12, 2)), CAST(7.57 AS Decimal(12, 2)), CAST(15.73 AS Decimal(12, 2)), 500, 9, 5, 1, 4, 0, 3, CAST(N'2022-07-27T15:43:59.223' AS DateTime))
INSERT [dbo].[RehberTablo] ([Id], [Sembol], [Periyot], [Parametreler], [NetKar], [BurutKar], [BurutZarar], [ProfitFactor], [BarSayisi], [IslemSayisi], [BasariliIslemSayisi], [KarAlSayisi], [TakipEdenDurdurSayisi], [ZararDurdurSayisi], [StratejiSatSayisi], [IslemZamani]) VALUES (1099, N'ALCXUSDT', N'4h', N'14,00|0,60', CAST(80.97 AS Decimal(12, 2)), CAST(89.63 AS Decimal(12, 2)), CAST(5.57 AS Decimal(12, 2)), CAST(16.07 AS Decimal(12, 2)), 499, 15, 11, 2, 11, 0, 2, CAST(N'2022-07-27T15:44:16.530' AS DateTime))
INSERT [dbo].[RehberTablo] ([Id], [Sembol], [Periyot], [Parametreler], [NetKar], [BurutKar], [BurutZarar], [ProfitFactor], [BarSayisi], [IslemSayisi], [BasariliIslemSayisi], [KarAlSayisi], [TakipEdenDurdurSayisi], [ZararDurdurSayisi], [StratejiSatSayisi], [IslemZamani]) VALUES (1100, N'ATMUSDT', N'4h', N'7,00|0,80', CAST(122.97 AS Decimal(12, 2)), CAST(150.26 AS Decimal(12, 2)), CAST(22.16 AS Decimal(12, 2)), CAST(6.77 AS Decimal(12, 2)), 499, 25, 14, 2, 12, 3, 8, CAST(N'2022-07-27T15:45:10.760' AS DateTime))
SET IDENTITY_INSERT [dbo].[RehberTablo] OFF
GO
SET IDENTITY_INSERT [dbo].[StratejiParametreleri] ON 

INSERT [dbo].[StratejiParametreleri] ([Id], [ParametreAdi], [AltDeger], [UstDeger], [Adim]) VALUES (1, N'Period', CAST(4.00 AS Decimal(12, 2)), CAST(14.00 AS Decimal(12, 2)), CAST(1.00 AS Decimal(12, 2)))
INSERT [dbo].[StratejiParametreleri] ([Id], [ParametreAdi], [AltDeger], [UstDeger], [Adim]) VALUES (2, N'Yuzde', CAST(0.50 AS Decimal(12, 2)), CAST(1.00 AS Decimal(12, 2)), CAST(0.10 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[StratejiParametreleri] OFF
GO
SET IDENTITY_INSERT [dbo].[StratejiyeTakilanlar] ON 

INSERT [dbo].[StratejiyeTakilanlar] ([Id], [Sembol], [Periyot], [Parametreler], [GecenBarSayisi], [AlSinyalFiyat], [MevcutFiyat], [Sebep], [IslemZamani]) VALUES (1, N'JOEUSDT', N'2h', N'9,00|0,60', 1, CAST(0.34600000 AS Decimal(20, 8)), CAST(0.34600000 AS Decimal(20, 8)), N'AL Sinyali Kaçtı', CAST(N'2022-07-27T16:25:06.103' AS DateTime))
INSERT [dbo].[StratejiyeTakilanlar] ([Id], [Sembol], [Periyot], [Parametreler], [GecenBarSayisi], [AlSinyalFiyat], [MevcutFiyat], [Sebep], [IslemZamani]) VALUES (2, N'CVPUSDT', N'4h', N'6,00|0,50', 1, CAST(0.36410000 AS Decimal(20, 8)), CAST(0.38090000 AS Decimal(20, 8)), N'AL Sinyali Kaçtı', CAST(N'2022-07-27T16:25:06.103' AS DateTime))
INSERT [dbo].[StratejiyeTakilanlar] ([Id], [Sembol], [Periyot], [Parametreler], [GecenBarSayisi], [AlSinyalFiyat], [MevcutFiyat], [Sebep], [IslemZamani]) VALUES (3, N'ATMUSDT', N'4h', N'7,00|0,80', 0, CAST(4.17000000 AS Decimal(20, 8)), CAST(4.10000000 AS Decimal(20, 8)), N'AL Sinyali Kaçtı', CAST(N'2022-07-27T16:25:06.103' AS DateTime))
SET IDENTITY_INSERT [dbo].[StratejiyeTakilanlar] OFF
GO
SET IDENTITY_INSERT [dbo].[temp_RehberTablo] ON 

INSERT [dbo].[temp_RehberTablo] ([Id], [Sembol], [Periyot], [Parametreler], [NetKar], [BurutKar], [BurutZarar], [ProfitFactor], [BarSayisi], [IslemSayisi], [BasariliIslemSayisi], [KarAlSayisi], [TakipEdenDurdurSayisi], [ZararDurdurSayisi], [StratejiSatSayisi]) VALUES (1, N'ZRXUSDT', N'1h', N'7,00|0,60', CAST(-20.97 AS Decimal(12, 2)), CAST(14.36 AS Decimal(12, 2)), CAST(30.76 AS Decimal(12, 2)), CAST(0.46 AS Decimal(12, 2)), 500, 23, 7, 0, 6, 0, 16)
INSERT [dbo].[temp_RehberTablo] ([Id], [Sembol], [Periyot], [Parametreler], [NetKar], [BurutKar], [BurutZarar], [ProfitFactor], [BarSayisi], [IslemSayisi], [BasariliIslemSayisi], [KarAlSayisi], [TakipEdenDurdurSayisi], [ZararDurdurSayisi], [StratejiSatSayisi]) VALUES (2, N'ZRXUSDT', N'1h', N'5,00|0,80', CAST(-18.49 AS Decimal(12, 2)), CAST(20.32 AS Decimal(12, 2)), CAST(32.43 AS Decimal(12, 2)), CAST(0.62 AS Decimal(12, 2)), 499, 32, 12, 0, 6, 0, 26)
INSERT [dbo].[temp_RehberTablo] ([Id], [Sembol], [Periyot], [Parametreler], [NetKar], [BurutKar], [BurutZarar], [ProfitFactor], [BarSayisi], [IslemSayisi], [BasariliIslemSayisi], [KarAlSayisi], [TakipEdenDurdurSayisi], [ZararDurdurSayisi], [StratejiSatSayisi]) VALUES (3, N'ZRXUSDT', N'1h', N'4,00|0,90', CAST(-18.71 AS Decimal(12, 2)), CAST(18.90 AS Decimal(12, 2)), CAST(31.63 AS Decimal(12, 2)), CAST(0.59 AS Decimal(12, 2)), 499, 30, 9, 0, 6, 0, 24)
GO
SET IDENTITY_INSERT [dbo].[temp_RehberTablo] OFF
GO
ALTER TABLE [dbo].[AvciSonuclari] ADD  CONSTRAINT [DF_AvciSonuclari_IslemZamani]  DEFAULT (getdate()) FOR [IslemZamani]
GO
ALTER TABLE [dbo].[FiyatKontrolTablosu] ADD  CONSTRAINT [DF_FiyatKontrolTablosu_IslemZamani]  DEFAULT (getdate()) FOR [IslemZamani]
GO
ALTER TABLE [dbo].[IslemTablosu] ADD  CONSTRAINT [DF_IslemTablosu_IslemZamani]  DEFAULT (getdate()) FOR [IslemZamani]
GO
ALTER TABLE [dbo].[RehberTablo] ADD  CONSTRAINT [DF_RehberTablo_IslemZamani]  DEFAULT (getdate()) FOR [IslemZamani]
GO
ALTER TABLE [dbo].[StratejiyeTakilanlar] ADD  CONSTRAINT [DF_StratejiyeTakilanlar_IslemZamani]  DEFAULT (getdate()) FOR [IslemZamani]
GO
